// Allow the rndrsbc service user to restart its own templated unit.
polkit.addRule(function(action, subject) {
    var unit = action.lookup("unit");
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        subject.user == unit.slice("rndrsbc@".length, -1) &&
        unit.startsWith("rndrsbc@") && unit.endsWith(".service")) {
        return polkit.Result.YES;
    }
});
